<div class="d-flex h-100">
  <div class="tracklist-container flex-column">
    <div class="accordion" id="tracklistAccordion">
      <div class="card" *ngFor="let track of tracks" (click)="onSelect(track)">
        <div class="card-header" id="heading-{{track.id}}">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" [attr.data-target]="'#collapse-' + track.id">
              <h4>Activity on {{track.startTime | date}}</h4>
            </button>
          </h2>
        </div>

        <div id="collapse-{{track.id}}" class="collapse show" data-parent="#tracklistAccordion">
          <div class="card-body">
            <div><fa-icon icon="arrows-alt-h" class="icon-rpad"></fa-icon>{{track.distance / 1000 | number:"1.1-2"}} km</div>
            <div><fa-icon icon="stopwatch" class="icon-rpad"></fa-icon>{{getDurationInMin(track) | number: "1.0-0"}} min</div>
            <div><fa-icon icon="tachometer-alt" class="icon-rpad"></fa-icon>{{getAvgInKmh(track) | number: "1.0-1"}} km/h</div>
          </div>
        </div>
        <app-heightprofile *ngIf="track == selectedTrack" [track]="track"></app-heightprofile>
      </div>
    </div>
  </div>
  <div class="trackview-container d-flex flex-column flex-grow-1">
    <app-trackview [track]="selectedTrack" class="flex-grow-1 h-100"></app-trackview>
  </div>
</div>
