<div class="d-flex h-100">
  <div class="tracklist-container flex-column">
    <div class="accordion" id="tracklistAccordion">
      <div class="card" *ngFor="let track of tracks" (click)="onSelect(track)" >
        <div class="card-header" id="heading-{{track.id}}" data-toggle="collapse" [attr.data-target]="'#collapse-' + track.id">
          <h2 class="mb-0">
            <h4><ion-icon [src]="getActivityType(track) == 'run'? 'assets/running.svg' : null"
                          name="{{getActivityIcon(getActivityType(track))}}" class="icon-large icon-rpad"></ion-icon>
              Activity on {{track.startTime | date}} <small>({{track.distance / 1000 | number:"1.0-0"}} km)</small>
            </h4>
          </h2>
        </div>

        <div id="collapse-{{track.id}}" class="collapse" data-parent="#tracklistAccordion">
          <div class="card-body">
            <div><ion-icon name="analytics-outline"  class="icon-medium icon-rpad"></ion-icon>{{track.distance / 1000 | number:"1.1-2"}} km</div>
            <div><ion-icon name="stopwatch-outline"  class="icon-medium icon-rpad"></ion-icon>{{getDurationInMin(track) | number: "1.0-0"}} min</div>
            <div><ion-icon name="speedometer-outline"  class="icon-medium icon-rpad"></ion-icon>{{getAvgInKmh(track) | number: "1.0-1"}} km/h</div>
            <app-heightprofile *ngIf="track == selectedTrack" [track]="track" (trackPointSelected)="onTrackPointSelectedInHeightGraph($event)"></app-heightprofile>
            <button *ngIf="selectedTrack && !segCreationMode" class="btn btn-outline-secondary" type="button" (click)="onCreateSegment()">Create segment</button>
            <div *ngIf="segCreationMode">
              <input  class="form-control" type="text" placeholder="Segment name">
              <button *ngIf="segCreationMode" class="btn btn-primary btn-block" type="button" (click)="saveSegment()">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="trackview-container d-flex flex-column flex-grow-1">
    <app-trackview [track]="selectedTrack" [marker]="trackPosToMark" [selectionMode]="segCreationMode" class="flex-grow-1 h-100"></app-trackview>
  </div>
</div>
