<div class="d-flex h-100">
  <div class="tracklist-container flex-column">
    <div class="accordion" id="tracklistAccordion">
      <div class="card" *ngFor="let track of tracks" (click)="onSelect(track)">
        <div class="card-header" id="heading-{{track.id}}">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" [attr.data-target]="'#collapse-' + track.id">
              {{track.name}}
            </button>
          </h2>
        </div>

        <div id="collapse-{{track.id}}" class="collapse" data-parent="#tracklistAccordion">
          <div class="card-body">
            {{track.name}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="trackview-container d-flex flex-column flex-grow-1">
    <app-trackview [trackId]="selectedTrackId" class="flex-grow-1 h-100"></app-trackview>
  </div>
</div>
